---
title: "Choose A Foundation"
excerpt: "Take your open source project to the next level."
permalink: /
layout: splash
date: 2017-08-01T12:00:00-05:00
header:
  overlay_image: /assets/images/ian-schneider-66374-h.jpg
  caption: "Photo: [**Ian Schneider / Unsplash**](https://unsplash.com)"
intro: 
  - excerpt: "What do you do when your open source project takes off?  Go pro - define your **project governance** and see if joining a FOSS Foundation is right for you."

feature_row1:
  - image_path: assets/images/apache.svg
    alt: "Apache Feather Logo"
    title: "We want to stay independent."
    excerpt: "The Apache Way ensures project independence from vendors, and provides core services and community mentoring."
    url: "/foundations/apache"
    btn_label: "Learn about Apache"
    btn_class: "btn--inverse"
  - image_path: /assets/images/linux.svg
    alt: "Linux Foundation Logo"
    title: "We have businesses who want to help."
    excerpt: "The Linux Foundation helps the world's leading developers and companies to accelerate open technology development and commercial adoption."
    url: "/foundations/linux"
    btn_label: "Learn about Linux Foundation"
    btn_class: "btn--inverse"
  - image_path: /assets/images/conservancy.png
    title: "Software freedom is most important for us."
    excerpt: "The Software Freedom Conservancy is a charity that helps promote, improve, develop, and defend Free, Libre, and Open Source Software (FLOSS) projects."
    url: "/foundations/conservancy"
    btn_label: "Learn about Conservancy"
    btn_class: "btn--inverse"

feature_row2:
  - image_path: assets/images/eclipse.png
    alt: "Eclipse Logo"
    title: "We're building developer tools or IDEs."
    excerpt: "Eclipse includes both the well-known IDE as well as a wide array of plugins and independent developer tools as independent projects."
    url: "/foundations/eclipse"
    btn_label: "Learn about Eclipse"
    btn_class: "btn--inverse"
  - image_path: assets/images/spi.svg
    alt: "SPI, Inc. Logo"
    title: "Maximum freedom for our own governance is important."
    excerpt: "Software in the Public Interest manages the non-technical administrative tasks for FOSS projects so that they aren't required to operate their own legal entity."
    url: "/foundations/spi"
    btn_label: "Learn about SPI"
    btn_class: "btn--inverse"
  - image_path: assets/images/gethelp.png
    alt: "Need More Advice - Image"
    title: "We need more help deciding!"
    excerpt: "None of the above sound right? Not sure if you want to roll your own legal entity - or if you need a corp at all? Get more help here."
    url: "/help"
    btn_label: "Get More Help"
    btn_class: "btn--inverse"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row1" %}

{% include feature_row id="feature_row2" %}

